/**
 *
 * {{ properCase name }}
 *
 */

{{#if wantHooks}}
import React, { 
//useState, 
//useEffect, 
//useContext,
} from 'react';
{{else}}
import React from 'react';
{{/if}}
// import PropTypes from 'prop-types';
{{#if wantStyle}}
import styled from 'styled-components';
{{/if}}
{{#if wantMessages}}
import { useTranslation } from 'react-i18next';
{{/if}}

export const {{ properCase name }} = props => {
  {{#if wantMessages}}
  // @dev args for t('key', 'text')
  const { t, i18n } = useTranslation();
  {{/if}}
  return (
    <div>
     {{#if wantMessages}}
      {/* @dev remember to add prefix to 'key' args */}
      <h1>{t('{{ dashCase }}-title', '{{ properCase name }}')}</h1>
    {{/if}}
    </div>
  );
}

{{ properCase name }}.propTypes = {};

export default {{ properCase name }};
